.card {
  background-color: #0f0f11;
  border: 1px solid #3a3a3a;
  border-radius: 1rem;
  padding: 1rem;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  $self: &;


  &__image {
    height: 60px;
    width: 60px;
    object-fit: cover;
    background: grey;
    margin-bottom: 1rem;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    cursor: pointer;
  }

  &__content {
    display: flex;
  }

  &__body {
    display: flex;
    flex-direction: column;
    width: calc(100% - 80px); // Adjust width to account for image
    flex: 1;
  }

  &__title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #ffffff;
  }

  &__text {
    font-size: 0.875rem;
    color: #d1d5db;
    margin-bottom: 1.5rem;
  }

  &__cta {
    background-color: #9ca3af;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    cursor: pointer;
    margin: auto 16px;
  }

  &--expanded {
    transform: scale(1.05);

    #{$self}__image {
      width: 100%;
      order: 1;
      height: 120px;
      object-fit: cover;
      margin-bottom: 1rem;
      transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    }

    #{$self}__body {
      order: 2;
      width: 100%;
    }

    #{$self}__content {
      flex-direction: column;
    }
   
  }

}
