@import "card.module.scss";

.card-section {
  position: relative;
  color: #ffffff;
  overflow: hidden;
  padding-bottom: 4rem;

  &__header {
    padding: 4rem 2rem;
    margin-bottom: 2rem;
    position: relative;
    display: flex;
    z-index: 2;
    gap: 2rem;

    &-content { 
      width: calc(100% - 350px );
    }

  }


  &__title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  &__description {
    font-size: 1rem;
    color: #d1d5db;
    max-width: 600px;
  }

  &__canvas-container {
    display: flex;
    justify-content: center;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 2rem;
  }

  &__navigation {
    text-align: center;
    margin-top: 4rem;
    padding-top: 2rem;

    button {
      background-color: #4b5563;
      color: #ffffff;
      border: none;
      border-radius: 0.5rem;
      padding: 0.75rem 1.5rem;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #6b7280;
      }
    }
  }
}
