@import "card.module.scss";

.card-section {
  position: relative;
  color: #ffffff;
  overflow: hidden;

  &__header {
    padding: 4rem 2rem;
    margin-bottom: 2rem;
    position: relative;
    z-index: 2;
  }

  &__title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  &__description {
    font-size: 1rem;
    color: #d1d5db;
    max-width: 600px;
  }

  &__canvas-container {
    position: relative;
    width: 100%;
    z-index: 1;
    background: transparent;
  }

  &__wrapper {
    pointer-events: auto;
    width: 360px;
    transform: scale(0.8);
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(0.85);
    }
  }
}
