 .work-animation { 
     &__grid {
            display: grid;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 2rem;
            padding: 2rem;
            place-items: center; // Center items in the grid

            @include tablet-and-desktop {
                grid-template-columns: repeat(2, 1fr); // 3 columns on larger screens
            }
        }

        .grid__item {
            max-width: 350px;
            width: 100%;
            margin-bottom: 50px;

            @include mobile-only {
                margin: 20px auto !important;
            }
        }
 
 }