$max-container-width: 1320px;

// work Variables
$color-primary-text: #fff;
$color-secondary-text: #a0a0a0;
$color-background-dark: #1a1a1a;
$color-card-background: #2a2a2a;
$color-blue-border: #007bff; // A vibrant blue
$color-orange-border: #ff7f00; // A vibrant orange
$color-tag-background: #444;
$color-tag-text: #eee;

// card Variables
$color-text-light: #f0f0f0;
$color-text-dark: #a0a0a0;
$color-card-background-light: #5f6a7d; // Light greyish-blue for image background
$color-card-background-dark: #2a2a2a; // Darker grey for content background
$color-cta-background: #90ee90; // Light green for CTA
$color-cta-text: #333;
$color-corner-icon-background: #ffc107; // Yellow for the corner "F"
$color-corner-icon-text: #333;


// contact  Variables
$color-text-light: #fff;
$color-text-dark: #a0a0a0;
$color-input-background: #1a1a1a;
$color-input-border: #333;
$color-submit-button-background: #808080; // Greyish color from image
$color-submit-button-text: #fff;
$color-focus-border: #666; // A slightly lighter border on focus

// Breakpoints
$mobile-breakpoint: 576px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 992px;
$large-desktop-breakpoint: 1200px;