@import './helpers/variables';

@import './component/navbar.module.scss';

@import './component/hero.module.scss';

@import './component/card.section.scss';

@import './component/work.section.scss';

@import './component/portfolio.section.scss';

@import './component/contact.section.scss';

@import './component/footer.section.scss';

body { 
    background-color: #1a1a1a;
    color: #fff;
}

.container { 
    max-width: $max-container-width;
    margin-left: auto;
    margin-right: auto;
}